html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%; 
  width: 100%;
  margin: 0;
}
.parent {
display: grid;
grid-template-columns: 85px 85px 85px;
grid-template-rows: 85px 85px 85px;
grid-gap: 20px;
margin-left: 20%;
margin-top: 15%;
}

.div4 {
  background-color: gray;
  cursor: pointer;
  border: solid 5px;
}

.used1 {
  cursor: not-allowed;
  background-color: blue;
  border: solid 5px black;
  pointer-events: none;
  font-size: 80px;
  text-align: center;
}
.used2 {
  cursor: not-allowed;
  background-color: red;
  border: solid 5px black;
  pointer-events: none;
  font-size: 80px;
  text-align:center;
}
